@import "./../../global.scss";

.breadcrumb {

    li {
        display: inline-block;
        font-size: 14px;

        &:after {
            color: $grey-medium;
            content: '>';
            margin: 0 5px;
        }

        &:last-child {
            color: $red;
        
            &:after {
                display: none;
            }
        }
    }
}