@import "./../../global.scss";

.header {

    .header__loginArea {
        background-color: $black;

        p {
            color: $white;
            font-size: 13px;
            margin-top: 0;
            padding: 10px 0;
            text-align: center;

            a {
                color: $white;
                font-size: 13px;
                font-weight: 700;
            }
        }
    }

    .menu {
        align-items: center;
        display: flex;
        justify-content: space-between;

        i {
            font-size: 1.5em;

            &.icon-search {
                color: $red;
                opacity: 1;
                transition: left .25s ease-in-out;
                visibility: visible;
                
                &.hide {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

        .logo {
            margin: 10px 0;

            img {
                max-width: 185px;
            }
        }
    }

    nav {
        background-color: $red;
        height: 100vh;
        left: -100%;
        padding-top: 100px;
        position: fixed;
        top: 0;
        transition: left .25s ease-in-out;
        width: 100%;

        &.show {
            left: 0;
        }

        i {
            color: $white;
            font-size: 1.5em;
            position: absolute;
            right: 20px;
            top: 20px;
        }

        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            
            a {
                color: $white;
                display: block;
                font-weight: 700;
                padding: 20px;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }

    .searchMenu {
        height: 0;
        opacity: 0;
        padding: 0 10px;
        transition: height .25s ease-in-out, opacity .25s ease-in-out;
        visibility: hidden;

        &.show {
            height: 40px;
            opacity: 1;
            visibility: visible;
        }

        .inputSearch {
            border: 1px solid $grey-medium;
            border-right: none;
            box-sizing: border-box;
            padding: 7px 16px 8px;
            width: calc(100% - 90px);
        }
        
        .buttonSearch {
            background-color: $red;
            border: none;
            color: $white;
            font-size: 14px;
            font-weight: 700;
            padding: 10px 0;
            text-transform: uppercase;
            width: 90px;

            &:hover {
                animation: gelatine .5s;
            }
        }
    }

}

@include breakpoint(tabletV) {
    
    .header {

        .header__loginArea p {
            text-align: right;
        }

        & > div:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & > div {
                align-items: center;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                width: 100%;
            }
        
            .menu {
                
                i {
                    display: none;
                }
            }

            .inputSearch {
                width: 280px;
            }

            .searchMenu {
                height: auto;
                opacity: 1;
                padding: 0;
                visibility: visible;
            }
            
        }

        nav {
            height: auto;
            left: 0;
            padding: 0;
            position: relative;

            i {
                display: none;
            }

            ul {
                flex-direction: row;
                justify-content: space-between;
                margin: 0;

                a {
                    padding: 15px 20px;
                    position: relative;
                    z-index: 0;

                    &:before {
                        background-color: rgba(0,0,0,.15);
                        top: 0;
                        content: '';
                        left: 0;
                        height: 0;
                        position: absolute;
                        transition: height ease-in-out .25s;
                        width: 100%;
                        z-index: -1;
                    }

                    &:hover:before {
                        height: 100%;
                    }
                }

            }
        }

    }

}

@include breakpoint(desktop) {

    .header nav ul li {

        &:first-child {
            margin-left: -20px;
        }

        &:last-child {
            margin-right: -20px;
        }
    }

}