@mixin breakpoint($point) {

    @if $point == tabletV {
        @media (min-width: 768px)  { @content ; }
    }
    
    @else if $point == tabletH {
        @media (min-width: 1024px) { @content ; }
    }

    @else if $point == desktop {
        @media (min-width: 1440px) { @content ; }
    }

}