@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icomoon.eot?an3yt8');
    src:  url('/fonts/icomoon.eot?an3yt8#iefix') format('embedded-opentype'),
      url('/fonts/icomoon.ttf?an3yt8') format('truetype'),
      url('/fonts/icomoon.woff?an3yt8') format('woff'),
      url('/fonts/icomoon.svg?an3yt8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arrow-left:before {
    content: "\f053";
  }
  .icon-arrow-right:before {
    content: "\f054";
  }
  .icon-bars:before {
    content: "\f0c9";
  }
  .icon-close:before {
    content: "\f00d";
  }
  .icon-search:before {
    content: "\f002";
  }
  .icon-th:before {
    content: "\f00a";
  }
  .icon-th-list:before {
    content: "\f00b";
  }