.container {
    padding: 0 10px !important;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
}

@include breakpoint(tabletV) {
    
    .container {
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 1240px !important;
    }

    .grid-container {
        grid-template-columns: 1fr 2fr;
    }

}

@include breakpoint(tabletH) {

    .grid-container {
        grid-template-columns: 1fr 3fr;
    }

}

@include breakpoint(desktop) {

    .container {
        padding: 0 !important;
    }

    .grid-container {
        grid-template-columns: 1fr 4fr;
    }

}