@import "./../../global.scss";

.sidebar {
    border: 1px solid $grey-light;
    padding: 15px;

    .sidebar__title {
        color: $red;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .filterGroup {

        &:last-child ul {
            margin-bottom: 0;
        }

        &.filterGroup--colors {

            ul {
                list-style: none;

                li {
                    display: inline-block;

                    a {
                        &[data-info~="vermelho"] { background-color: $red; }
                        &[data-info~="laranja"] { background-color: $orange; }
                        &[data-info~="azul"] { background-color: $blue; }

                        &:hover { animation: gelatine .5s; }

                        display: block;
                        height: 25px;
                        margin-right: 5px;
                        text-indent: -9999px;
                        width: 45px;
                    }
                }
            }
        }

        .filterGroup__title {
            color: $blue;
            font-weight: 700;
            text-transform: uppercase;

        }

        ul {
            margin-top: 5px;
            padding: 0;
            list-style: inside;

            li {
                color: $grey-dark;

                a {
                    &:hover { text-decoration: underline; }
                    color: $grey-dark;
                    font-size: 14px;
                    line-height: 2em;
                    text-decoration: none;
                }
            }
        }

    }
}

@include breakpoint(tabletV) {

    .sidebar {
        box-sizing: border-box;
    }

}