@import "./../../global.scss";

.showcase {

    h2 {
        color: $red;
        font-size: 30px;
        font-weight: 400;
        margin-top: 0;
    }

    .tools__grid {
        display: none;
    }

    .tools__order {
        align-items: center;
        display: flex;
        justify-content: space-between;

        label {
            color: $grey-medium;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
        }

        select {
            border-color: $grey-light;
            border-radius: 5px;
            font-size: 14px;
            padding: 5px;
            width: calc(100% - 110px);
        }
    }

    .products {

        ul {
            display: grid;
            grid-gap: 60px 20px;
            grid-template-columns: repeat(2, 1fr);
            list-style: none;
            margin-top: 30px;
            padding: 0;

            li {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .products__box {
                    position: relative;

                    img {
                        border: 1px solid $grey-light;
                        max-height: 214px;
                        object-fit: cover;
                        width: 100%;
                    }
                }

                & > div {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    text-align: center;
                    width: 100%;

                    .products__name {
                        color: $grey-dark;
                        margin: 10px 0;
                        text-transform: uppercase;
                    }

                    .products__price {
                        color: $red;
                        margin: 0 0 10px;
                        font-size: 22px;
                        font-weight: 700;
                    }

                    .products__button {
                        display: none;
                    }
                }
            }
        }
    }
}

@include breakpoint(tabletV) {
    
    .showcase {

        .tools {
            align-items: center;
            border-bottom: 1px solid $grey-light;
            border-top: 1px solid $grey-light;
            display: flex;
            justify-content: space-between;      
            padding: 10px 0;      

            .tools__grid {
                display: block;

                i {
                    color: $grey-medium;
                    font-size: 28px;
                    display: inline-block;
                    margin-right: 15px;

                    &.active {
                        animation: none !important;
                        color: $blue;
                        cursor: default !important;
                    }

                    &:hover {
                        animation: gelatine .5s;
                        cursor: pointer;
                    }
                }
            }

            .tools__order {
                
                select {
                    margin-left: 10px;
                    width: 200px;    
                }
            }
        }

        .products {

            ul {
                grid-template-columns: repeat(3, 1fr);

                &.list {
                    grid-template-columns: 1fr;

                    li {
                        align-items: flex-start;
                        border-bottom: 1px solid $grey-light;
                        padding-bottom: 15px;
                        flex-direction: row;

                        &:last-child {
                            border-bottom: none;
                        }

                        div {
                            align-items: start;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                        }
                    }

                    .products__box {
                        margin-right: 20px;
                    }
                }
                
                li {

                    .products__box {
                        
                        img:hover {
                            animation: gelatine .5s;
                        }
                    }

                    & > div {

                        .products__button {
                            background-color: $blue;
                            border: none;
                            border-radius: 5px;
                            color: $white;
                            display: inline-block;
                            font-weight: 700;
                            padding: 10px 20px;
                            text-align: center;
                            text-decoration: none;
                            text-transform: uppercase;

                            &:hover {
                                animation: gelatine .5s;
                            }
                        }
                    }
                }
            }
        }
    }

}

@include breakpoint(tabletH) {

    .showcase .products ul {
        grid-template-columns: repeat(4, 1fr);
    }

}