@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import "./css/normalize";
@import "./css/animations";
@import "./css/breakpoints";
@import "./css/colors";
@import "./css/layout";
@import "./css/icons";

body {
    color: $black;
    font-family: 'Open Sans', sans-serif;
}
